.mfp-bg {
   background-color: rgba(60, 90, 150, 0.5);
   backdrop-filter: blur(5px);
}

/* Efeito Fade */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready   { opacity: 1;}
.mfp-fade.mfp-bg.mfp-removing{ opacity: 0;}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content   { opacity: 1;}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{ opacity: 0;}

.mfp-iframe-scaler iframe {
    border-radius: 8px;
}